[submodule "tests/html-ts-mode"]
	path = tests/html-ts-mode
	url = https://github.com/mickeynp/html-ts-mode.git
[submodule "test/tuareg"]
	path = tests/tuareg
	url = https://github.com/ocaml/tuareg.git
[submodule "tests/neocaml"]
	path = tests/neocaml
	url = https://github.com/bbatsov/neocaml.git
