/* -*- combobulate-test-point-overlays: ((1 outline 158) (2 outline 181) (3 outline 202)); eval: (combobulate-test-fixture-mode t); -*- */

.testimonial {
  margin-left: 0.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
