<!-- -*- eval: (combobulate-test-fixture-mode t); combobulate-test-point-overlays: ((1 outline 151) (2 outline 168) (3 outline 192)); -*- -->
<div>
  <.button>Go</.button>
  <h1>Title</h1>
  <p>Text</p>
</div>
